importing the dependencies

In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

Data Collection and Processing

In [2]:
#Loading CSV dataset from downloaded file in smae folder of projects
heart_data=pd.read_csv('heart.csv')
#print first 5 rows
heart_data.head() #.tail() to print last rows

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,Oldpeak,slope,target
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0

In [3]:
#row and columns number
heart_data.shape
#heart_data.info() to get info

(918, 12)

Checking for missing values

In [4]:
heart_data.isnull().sum() #no missing values sofar

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
Oldpeak     0
slope       0
target      0
dtype: int64

Data Cleaning

Changing sex in numerical form   (M=1,F=0)

changing exang in numerical form

In [5]:
sex=heart_data['sex']
for i in range(sex.shape[0]):
    if(sex[i]=='M'):
        sex[i]=1
    else:
        sex[i]=0
heart_data['sex']=sex
print(heart_data['sex'])

exang=heart_data['exang']
for i in range(exang.shape[0]):
    if(exang[i]=='Y'):
        exang[i]=1
    else:
        exang[i]=0
heart_data['exang']=exang
# print(heart_data['exang'])
cp=heart_data['cp']
for i in range(cp.shape[0]):
    if(cp[i]=='ATA'):
        cp[i]=1
    elif(cp[i]=='NAP'):
        cp[i]=2
    elif(cp[i]=='ASY'):
        cp[i]=3
    else:
        cp[i]=0
heart_data['cp']=cp

slope=heart_data['slope']
for i in range(slope.shape[0]):
    if(slope[i]=='Up'):
        slope[i]=1
    else:
        slope[i]=0
heart_data['slope']=slope

restecg=heart_data['restecg']
for i in range(restecg.shape[0]):
    if(restecg[i]=='Normal'):
        restecg[i]=1
    else:
        restecg[i]=0
heart_data['restecg']=restecg

C:\Users\User\AppData\Local\Temp\ipykernel_16980\1468916961.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sex[i]=1
C:\Users\User\AppData\Local\Temp\ipykernel_16980\1468916961.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sex[i]=0

0      1
1      0
2      1
3      0
4      1
      ..
913    1
914    1
915    1
916    0
917    1
Name: sex, Length: 918, dtype: object

C:\Users\User\AppData\Local\Temp\ipykernel_16980\1468916961.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  exang[i]=0
C:\Users\User\AppData\Local\Temp\ipykernel_16980\1468916961.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  exang[i]=1
C:\Users\User\AppData\Local\Temp\ipykernel_16980\1468916961.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cp[i]=1
C:\Users\User\AppData\Local\Temp\ipykernel_16980\1468916961.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cp[i]=2
C:\Users\User\AppData\Local\Temp\ipykernel_16980\1468916961.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cp[i]=3
C:\Users\User\AppData\Local\Temp\ipykernel_16980\1468916961.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cp[i]=0
C:\Users\User\AppData\Local\Temp\ipykernel_16980\1468916961.py:33: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  slope[i]=1
C:\Users\User\AppData\Local\Temp\ipykernel_16980\1468916961.py:35: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  slope[i]=0
C:\Users\User\AppData\Local\Temp\ipykernel_16980\1468916961.py:41: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  restecg[i]=1
C:\Users\User\AppData\Local\Temp\ipykernel_16980\1468916961.py:43: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  restecg[i]=0

In [6]:
heart_data.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,Oldpeak,slope,target
0,40,1,1,140,289,0,1,172,0,0.0,1,0
1,49,0,2,160,180,0,1,156,0,1.0,0,1
2,37,1,1,130,283,0,0,98,0,0.0,1,0
3,48,0,3,138,214,0,1,108,1,1.5,0,1
4,54,1,2,150,195,0,1,122,0,0.0,1,0

Statistical Info of the data(count,mean,SD,variance etc)

In [7]:
heart_data.describe()

,age,trestbps,chol,fbs,thalach,Oldpeak,target
count,918.000000,918.000000,918.000000,918.000000,918.000000,918.000000,918.000000
mean,53.510893,132.396514,198.799564,0.233115,136.809368,0.887364,0.553377
std,9.432617,18.514154,109.384145,0.423046,25.460334,1.066570,0.497414
min,28.000000,0.000000,0.000000,0.000000,60.000000,-2.600000,0.000000
25%,47.000000,120.000000,173.250000,0.000000,120.000000,0.000000,0.000000
50%,54.000000,130.000000,223.000000,0.000000,138.000000,0.600000,1.000000
75%,60.000000,140.000000,267.000000,0.000000,156.000000,1.500000,1.000000
max,77.000000,200.000000,603.000000,1.000000,202.000000,6.200000,1.000000

In [8]:
#checking distribution of Target Values
heart_data['target'].value_counts()

1    508
0    410
Name: target, dtype: int64

Splitting Features and Target

In [9]:
#target columns is dropped/removed from X and Y is column of Target
X=heart_data.drop(columns='target',axis=1) #for columns axis is 1
Y=heart_data['target'] #for row axis is 0

In [10]:
print(X)

     age sex cp  trestbps  chol  fbs restecg  thalach exang  Oldpeak slope
0     40   1  1       140   289    0       1      172     0      0.0     1
1     49   0  2       160   180    0       1      156     0      1.0     0
2     37   1  1       130   283    0       0       98     0      0.0     1
3     48   0  3       138   214    0       1      108     1      1.5     0
4     54   1  2       150   195    0       1      122     0      0.0     1
..   ...  .. ..       ...   ...  ...     ...      ...   ...      ...   ...
913   45   1  0       110   264    0       1      132     0      1.2     0
914   68   1  3       144   193    1       1      141     0      3.4     0
915   57   1  3       130   131    0       1      115     1      1.2     0
916   57   0  1       130   236    0       0      174     0      0.0     0
917   38   1  2       138   175    0       1      173     0      0.0     1

[918 rows x 11 columns]

In [11]:
print(Y)

0      0
1      1
2      0
3      1
4      0
      ..
913    1
914    1
915    1
916    1
917    0
Name: target, Length: 918, dtype: int64

Splitting Data into Training data and Test data

In [12]:
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.2,stratify=Y,random_state=2)

Check train test split size

In [13]:
print(X.shape,X_train.shape,X_test.shape)

(918, 11) (734, 11) (184, 11)

Train our Logistic Regression Machine Learning Model

In [14]:
model=LogisticRegression()

In [15]:
#training the LogisticRegression with Training Data
model.fit(X_train,Y_train)         #this will fit X and Y

c:\Users\User\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

Our Model is now trained and Now we can start Model Evaluation

In [23]:
#Accuracy Score on training data
X_train_prediction=model.predict(X_train)
training_data_accuracy=accuracy_score(X_train_prediction,Y_train)

In [24]:
print('Accuracy of this Training Data: ',training_data_accuracy*100)

Accuracy of this Training Data:  76.29427792915531

In [25]:
#Accuracy Score For test data
X_test_prediction=model.predict(X_test)
test_data_accuracy=accuracy_score(X_test_prediction,Y_test)

In [26]:
print('Accuracy of this Test Data: ',test_data_accuracy*100)

Accuracy of this Test Data:  80.97826086956522

Building a Predictive System

In [29]:
input_data=(40,0,0,140,289,0,1,172,0,0.0,0)# taken from opening th dataset file in notepad

#change input data to a numpy array
input_data_numpy_array=np.asarray(input_data)
#reshape array as it being used for one instace only
input_data_reshaped=input_data_numpy_array.reshape(1,-1) 
prediction=model.predict(input_data_reshaped)
print(prediction)
if (prediction[0]==0):
    print("The person is Healthy")
else:
    print("The person is prone to heart Disease")

[0]
The person is Healthy

c:\Users\User\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(

So the prediction is correct as the chosen data was of a Heart defected person(1)

Saving a Trained Model

In [30]:
import pickle

In [31]:
filename = 'heart_disease_model.sav'
pickle.dump(model, open(filename, 'wb'))

In [32]:
# loading the saved model
loaded_model = pickle.load(open('heart_disease_model.sav', 'rb'))

In [33]:
for column in X.columns:
    print(column)

age
sex
cp
trestbps
chol
fbs
restecg
thalach
exang
Oldpeak
slope